#custom-button-1,
#wrapper-custom-button-1
  {list-style-image: url("chrome://warcreate/content/icon_warcreate.png");
  -moz-appearance: none !important;
  }

#custom-button-1:hover,
#wrapper-custom-button-1:hover
  {list-style-image: url("chrome://warcreate/content/icon_warcreate_hover.png");
  -moz-appearance: none !important;
  cursor: pointer;
  }

/* common style for all custom buttons 
.warcreate                  
  {-moz-image-region: rect( 0px 24px 24px  0px);}

.warcreate:hover     
  {-moz-image-region: rect(24px 24px 48px  0px);}

[iconsize="small"] .warcreate
  {-moz-image-region: rect( 0px 40px 16px 24px);}

[iconsize="small"] .warcreate:hover
  {-moz-image-region: rect(24px 40px 40px 24px);}
  */